@import "@lynx-js/luna-styles/index.css";

.mini-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: var(--canvas);
}
.mini-box {
  width: 100px;
  height: 100px;
  background-color: var(--primary);
  border-radius: 20px;
}
.mini-controls {
  margin-top: 30px;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
}
.mini-btn {
  padding: 10px 15px;
  background-color: var(--primary-muted);
  border-radius: 8px;
}

.mini-btn-text {
  color: var(--primary-content);
}
